.split_left {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: -1;
  top: 0;
  /* overflow-x: hidden; */
  padding-top: 100px;
}

.split_right {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.left {
  left: 0;
  background-color: #ffd2e6;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: centers;
}

.about_header {
  color: rgb(255, 210, 230);
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 0.05em;
}

.name_title {
  font-size: 48px;
  color: rgb(57, 57, 57);
  /* text-align: left; */
  padding-bottom: 20px;
  letter-spacing: 0.05em;
}

.brief_description {
  /* text-align: left; */
}

.profile_image {
  width: 350px;
  height: auto;
  border-radius: 30px;
  position: relative;
  left: 80px;
}
